.detail-container {
  width: 100%;
  padding: 20px;
  color: white;
  background-color: #111111;
  display: flex;
  flex-wrap: wrap;
  container-type: inline-size;
}
.detail-container > div {
  flex-basis: 50%;
  padding: 0 20px;
}
@container (max-width: 998px) {
  .detail-container > div {
    min-width: 100%;
    padding: 0 20px;
    margin-bottom: 10px
  }
}
.info > * {
  margin-bottom: 0.7rem;
}
.info h4 {
  padding-bottom: 1rem;
  border-bottom: 1.3px solid #eee;
}
