.movies-list {
  display: flex;
  width: 100%;
  padding: 20px 20px;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-y: auto;
  margin-bottom: 70px;
}

.movies-list > div {
  flex-basis: 200px;
  flex-shrink: 0;
}

.movies-list__original {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  justify-content: flex-start;
  margin-bottom: 70px;
}
.movies-list__original > div {
  padding: 5px 0px;
  /* flex-basis: 9%; */
  min-width: 100px;
  max-width: 9%;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .movies-list__original {
    gap: 1%;
  }
  .movies-list__original > div {
    padding: 5px;
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .movies-list__original > div {
    padding: 5px 0px;
    flex-basis: 9%;
  }
}

.movies-list::-webkit-scrollbar {
  height: 7px;
  background-color: #2b2b2b !important;
  border-radius: 100px;
  padding: 20px;
}
.movies-list::-webkit-scrollbar:hover {
  outline: 3px solid #4c4c4c;
  background-color: #4c4c4c !important;
}

.movies-list::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 100px;
}
.movies-list::-webkit-scrollbar-thumb:hover {
  background-color: #1c2b34;
  padding: 10px;
  height: 10px;
  border-radius: 100px;
}
